# I'm Very Happy to Start Chptr-02 (String and Data Types)

# Variables

In [2]:
#print Message
message = "Hello World Python"
print(message)

Hello World Python

# Name Errors When Using Variables

In [3]:
nameError = "Name Error When Using Variable"
print(namerror)

NameError: name 'namerror' is not defined

# String with Singal & Double quotation

In [4]:
print("This is a String")
print("This is also a String")

This is a String
This is also a String

# String Types Boundries
# String Types 'string text', "string text", '''string text''', """string text"""

In [5]:
name: str = "Kazim Hussain"
print(name)
print(type(name))

Kazim Hussain
<class 'str'>

In [6]:
#! String Types Boundries
#! String Types 'string text', "string text", '''string text''', """string text"""

name: str = 'Kazim Hussain'
print(name)
print(type(name))

Kazim Hussain
<class 'str'>

In [10]:
message : str = "Piaic Student Card \n father's name"
print(message)

Piaic Student Card
 father's name

# Error Through

In [11]:
message : str = 'Piaic Student Card \n father's name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (2233687560.py, line 1)

# Solve Error

In [13]:
message : str = "Piaic Student Card \nfather's name'"
print(message)

Piaic Student Card
father's name'

# Convert any special character into simple character, place \ before character

In [1]:
message : str = 'Piaic Student Card \nFather\'s Name'
print(message)

Piaic Student Card
Father's Name

In [10]:
message : str = 'Piaic Student Card \n"Student" Name\"'
print(message)

Piaic Student Card
"Student" Name"

In [29]:
message : str = '\'Piaic Student Card\' \n\"Student Name"'''
print(message)

'Piaic Student Card'
"Student Name"

# Type Casting Error

In [50]:
name : str = "Kazim Hussain"
fname : str = "Naseer Ahmad"
education : str = "ICS"
age : int = 18

card : str = "PIAIC Student card \nStudent Name: " + name + "\nAge: " + age
print(card)

TypeError: can only concatenate str (not "int") to str

# Solve Type Casting Error

In [51]:
name : str = "Kazim Hussain"
fname : str = "Naseer Ahmad"
education : str = "ICS"
age : int = 18

card : str = "PIAIC Student card \nStudent Name: " + name + "\nAge: " + str(age)
print(card)

PIAIC Student card
Student Name: Kazim Hussain
Age: 18

In [1]:
name : str = "Kazim Hussain"
fname : str = "Naseer Ahmad"
education : str = "ICS"
age : int = 18

card : str = "PIAIC Student card \nStudent Name: " + name + "\nFather Name: " + fname + "\nEducation: " + education + "\nAge: " + str(age)
print(card)

PIAIC Student card
Student Name: Kazim Hussain
Father Name: Naseer Ahmad
Education: ICS
Age: 18

# Define multi Line String """ """, ''' '''

In [83]:
name : str = "Kazim Hussain"
fname : str = "Naseer Ahmad"
education : str = "ICS"
age : int = 18

card : str = """
PIAIC Student Card
Student Name: 
Father Name: 
Age: 
Education: 
"""

print(card)

PIAIC Student Card
Student Name:
Father Name:
Age: "age"
Education:

# F-String Python

In [81]:
name : str = "Kazim Hussain"
fname : str = "Naseer Ahmad"
education : str = "ICS"
age : int = 18

card : str = f"""
PIAIC Student Card
Student Name: {name}
Father Name: {fname}
Age: {age}
Education: {education} 
"""

print(card)

PIAIC Student Card
Student Name: Kazim Hussain
Father Name: Naseer Ahmad
Age: 18
Education: ICS

In [84]:
#Backtick Concept is Not Allowed in Python

name : str = "Kazim Hussain"
fname : str = "Naseer Ahmad"
education : str = "ICS"
age : int = 18

card : str = f`
PIAIC Student Card
Student Name: {name}
Father Name: {fname}
Age: {age}
Education: {education} 
`

print(card)

SyntaxError: invalid syntax (3290690514.py, line 8)

# Recommended F-string Method

In [85]:
name : str = "Kazim Hussain"
fname : str = "Naseer Ahmad"
education : str = "ICS"
age : int = 18

card : str = f"""
PIAIC Student Card
Student Name: {name}
Father Name: {fname}
Age: {age}
Education: {education} 

Total {2+3+8}
"""

print(card)

PIAIC Student Card
Student Name: Kazim Hussain
Father Name: Naseer Ahmad
Age: 18
Education: ICS

Total 13

# F-string & Jinja Style

In [3]:
# F-String

f"""
student name: {name}
"""

'\nstudent name: Kazim Hussain\n'

In [88]:
# Jinja Style

f"""
student name{{name}}
"""

'\nstudent name{name}\n'

# String Method

In [99]:
[i for i in dir(str) if"__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [105]:
name : str = "Kazim Hussain"
print(name.capitalize())
print(name.lower())

Kazim hussain
kazim hussain

In [112]:
a = 7
b = 8

"Pakistan value a = {} and value b = {}".format(a,b)

'Pakistan value a = 7 and value b = 8'

In [117]:
name : str = "Kazim Hussain"
fname : str = "Naseer Ahmad"
education : str = "ICS"
age : int = 18

card : str = """
PIAIC Student Card
Student Name: {}
Father Name: {}
Age: {}
Education: {} 
""".format(fname, name, education, age)

print(card)

PIAIC Student Card
Student Name: Naseer Ahmad
Father Name: Kazim Hussain
Age: ICS
Education: 18

In [120]:
name : str = "Kazim Hussain"
fname : str = "Naseer Ahmad"
education : str = "ICS"
age : int = 18

card : str = """
PIAIC Student Card
Student Name: {1}
Father Name: {0}
Age: {3}
Education: {2} 
""".format(fname, name, education, age)

print(card)

PIAIC Student Card
Student Name: Kazim Hussain
Father Name: Naseer Ahmad
Age: 18
Education: ICS

In [121]:
name : str = "Kazim Hussain"
fname : str = "Naseer Ahmad"
education : str = "ICS"
age : int = 18

card : str = """
PIAIC Student Card
Student Name: {a}
Father Name: {b}
Age: {c}
Education: {d} 
""".format(a=name, b=fname, c=age, d=education)

print(card)

PIAIC Student Card
Student Name: Kazim Hussain
Father Name: Naseer Ahmad
Age: 18
Education: ICS

# Explore String Method & Attributes

pre-define global function we have used
* print
* type
* id
* dir
* length

In [122]:
a: list[str] = [i for i in dir(str) if '__' not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [127]:
name : str = "kazim"
print(name.upper())

KAZIM

# Strip Method for Removing Spaces

In [129]:
# Left Side Removing Space

name : str = "    kazim     "
display(name)
display(name.lstrip())

'    kazim     '

'kazim     '

In [130]:
# Right Side Removing Space

name : str = "    kazim     "
display(name)
display(name.rstrip())

'    kazim     '

'    kazim'

In [6]:
# Two Side Removing Space

name : str = "    kazim     hussain     "
display(name)
display(name.strip())

'    kazim     hussain     '

'kazim     hussain'

# Removing Prefixes

In [8]:
Simple_url = 'https://nostarch.com'
Simple_url.removeprefix('https://')

'nostarch.com'

In [16]:
url = 'https://www.kazimhussain.com'
url.removeprefix('https://www.')

'kazimhussain.com'