# List 
* iteration operation with loop
* apply any operator on element

In [2]:
names: list[str] = ["Kazim", "Hamza", "Zabi ul"] 
print(names)

['Kazim', 'Hamza', 'Zabi ul']

# Iteration New Method

In [6]:
names: list[str] = ["Kazim", "Hamza", "Zabi ul"] 
for name in names: 
    print(name)
    
#Kazim
#Hamza
#Zabi ul

Kazim
Hamza
Zabi ul

# Iteration Old Method

In [4]:
names = ["Kazim", "Hamza", "Zabi ul"] 

i : int = 0 # counter = 0

while i<len(names): # names length =3
    print(names[i])
    i += 1

Kazim
Hamza
Zabi ul

# with f-string method

In [19]:
names: list[str] = ["Kazim", "Hamza", "Zabi ul"] 
for name in names: 
    print(f'Welcome dear friend {name.title()}')

Welcome dear friend Kazim
Welcome dear friend Hamza
Welcome dear friend Zabi Ul

# Loop Body Part

In [28]:
names: list[str] = ["Kazim", "Hamza", "Zabi ul"] 
for name in names: 
    print(f'Welcome dear friend {name.title()}')
    print(f'student of full stack developer {name.title()}')
    print("PIAIC GenAi Student")

Welcome dear friend Kazim
student of full stack developer Kazim
PIAIC GenAi Student
Welcome dear friend Hamza
student of full stack developer Hamza
PIAIC GenAi Student
Welcome dear friend Zabi Ul
student of full stack developer Zabi Ul
PIAIC GenAi Student

# without loop body part

In [21]:
names: list[str] = ["Kazim", "Hamza", "Zabi ul"] 
for name in names: 
    print(f'Welcome dear friend {name.title()}')
    print(f'student of full stack developer {name.title()}')
    
print("Pakistan Zindabad")

Welcome dear friend Kazim
student of full stack developer Kazim
Welcome dear friend Hamza
student of full stack developer Hamza
Welcome dear friend Zabi Ul
student of full stack developer Zabi Ul
Pakistan Zindabad

# Specific Student Print with Positive Slicing

In [23]:
names: list[str] = ["Kazim", "Hamza", "Zabi ul"] 
for name in names[:2]: 
    print(f'Welcome dear friend {name.title()}')
    print(f'student of full stack developer {name.title()}')
    
print("Pakistan Zindabad")

Welcome dear friend Kazim
student of full stack developer Kazim
Welcome dear friend Hamza
student of full stack developer Hamza
Pakistan Zindabad

# Specific Student Print with Negative Slicing

In [27]:
names: list[str] = ["Kazim", "Hamza", "Zabi ul", "Zain", "Tayyab"] 
for name in names[-1:-3:-1]: 
    print(f'Welcome dear friend {name.title()}')
    print(f'student of full stack developer {name.title()}')
    
print("Pakistan Zindabad")

Welcome dear friend Tayyab
student of full stack developer Tayyab
Welcome dear friend Zain
student of full stack developer Zain
Pakistan Zindabad

# Tuple

In [30]:
date_base : list[tuple[str, int]] = [("Kazim", 123),
                                     ("Hamza", 8945),
                                     ("Tayyab", 7345)
                                     ]

for row in date_base:
    print(row)

('Kazim', 123)
('Hamza', 8945)
('Tayyab', 7345)

# Unzip Method

In [34]:
date_base : list[tuple[str, int]] = [("Kazim", 123),
                                     ("Hamza", 8945),
                                     ("Tayyab", 7345),
                                     ("Zabi ul", 8654)
                                     ]

for row in date_base:
    user, password = row
    print(user, password)

Kazim 123
Hamza 8945
Tayyab 7345
Zabi ul 8654

# names and password get from user

In [138]:
input_user : str = input("Enter user Name")
print(input_user)

KAzim

In [66]:
data_base : list[tuple[str, int]] = [("Kazim", 123),
                                     ("Hamza", 8945),
                                     ("Tayyab", 7345),
                                     ("Zabi ul", 8654)
                                     ]
input_user : str = input("Enter user Name")
input_password : int = input("Enter user Password")

for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("Valid User")
        break

# Indentation Error Reason

In [67]:
names: list[str] = ["Kazim", "Hamza", "Zabi ul"] 
for name in names: 
print(f'Welcome dear friend {name.title()}')

IndentationError: expected an indented block after 'for' statement on line 2 (2532777313.py, line 3)

In [68]:
names: list[str] = ["Kazim", "Hamza", "Zabi ul"] 
for name in names 
    print(f'Welcome dear friend {name.title()}')

SyntaxError: expected ':' (3132742312.py, line 2)

# Unexpected Indentation Error

In [69]:
message : str = "Hello World Python!!"
    print(message)

IndentationError: unexpected indent (2832251914.py, line 2)

# Indenting Unnecessarily After the Loop

In [74]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
    
    print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

Thank you everyone, that was a great magic show!
David, that was a great trick!
I can't wait to see your next trick, David.

Thank you everyone, that was a great magic show!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [75]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
    
print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

# Enum-Rate Function

In [90]:
magicians = ['alice', 'david', 'carolina']

list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

# Enum-Rate Function with For Loop

In [91]:
magicians = ['alice', 'david', 'carolina']

for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolina

# Loop with Number
* `range(start, end, step)`

In [76]:
range(10)

range(0, 10)

In [77]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
list(range(2,10)) # Starting=0, ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

# Table of 5

In [107]:
list(range(5,101,5)) # Starting=0, ending = n-1, step

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [101]:
for n in range (1,11,1):
    print(f'{5} X {n} = {n*5}')

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

# Table of 2

In [103]:
for n in range(1,11):
    print(f'{2} X {n} = {n*2}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

# Table of 7

In [111]:
for n in range(1,11):
    print(f'{7} X {n} = {7*n}')

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [112]:
squares : list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# list Comprehensive

    for item in items_list:
        loop_body

# Comprehensive Style
    [loop_body for item in items_list]

In [113]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [114]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [115]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Simple Statistics with a List of Numbers

In [122]:
digits : list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

# Copying a List

In [125]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

print(friend_foods)
print(my_foods)

friend_foods[0] = "Tikka"

print(friend_foods)
print(my_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']

# Tuples

In [126]:
names: tuple[str] = ("A", "B", "C")
print(names)

('A', 'B', 'C')

In [129]:
names: tuple[str] = ("A", "B", "C")
print(names[0])
print(names[2])
print(names[0:2])

A
C
('A', 'B')

In [131]:
names: tuple[str] = ("A", "B", "C")
print(names)

names[0] = "Kazim"
print(names)

('A', 'B', 'C')

TypeError: 'tuple' object does not support item assignment

In [132]:
names: tuple[str] = ("A", "B", "C")
print(names)

names: tuple[str] = ("Kazim", "B", "C")
print(names)

('A', 'B', 'C')
('Kazim', 'B', 'C')

In [133]:
from typing import Any

data : tuple[Any] = ("A", [1,2,3], True)
print(data)

('A', [1, 2, 3], True)

In [137]:
from typing import Any

data : tuple[Any] = ("A", [1,2,3], True)
print(data[1])

data[1].append(100)
print(data)

[1, 2, 3]
('A', [1, 2, 3, 100], True)