In [ ]:
import pandas as pd
import pandera as pa

# **Pandas Core Components**
* *Series types*
* *DatFrame types*

In [17]:
li : list[int] = [1,2,3,4,5,6,7,8,9]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# list we can use for creating series
import pandas as pd

s1 : pd.Series = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
# Set we can use for creating series
import pandas as pd

s1 : pd.Series = pd.Series({1,2,3,4,5})
s1

TypeError: 'set' type is unordered

In [ ]:
# tuple we can use for creating series
import pandas as pd

s1 : pd.Series = pd.Series((1,2,3,4,5))
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [22]:
# Dictionary we can use for creating series
import pandas as pd

s1 : pd.Series = pd.Series({"a": "10",
                            "b": "20",
                            "c": "30",
                            "d": "40",
                            "e": "50",
                            "f": "60", 
                            })
s1

a    10
b    20
c    30
d    40
e    50
f    60
dtype: object

In [24]:
values : list[int] = [1,2,3,4,5]

index1 : list[list[str]] = [["a1", "a1", "a1" , "b1", "b1"],
                            ["a", "b", "c", "d", "e"]]

s1 : pd.Series = pd.Series(values, index=index1) 
s1

a1  a    1
    b    2
    c    3
b1  d    4
    e    5
dtype: int64

In [32]:
values : list[int] = [1,2,3,4,5]

index1 : list[list[str]] = [["a1", "a1", "a1" , "b1", "b1"],
                            ["a", "b", "c", "d", "e"]]

s1 : pd.Series = pd.Series(values, index=index1, name="Student-Data") 
s1

a1  a    1
    b    2
    c    3
b1  d    4
    e    5
Name: Student-Data, dtype: int64

## **Change data type**

In [35]:
import numpy as np
values : list[np.int32] = [1,2,3,4,5]

index1 : list[list[str]] = [["a1", "a1", "a1" , "b1", "b1"],
                            ["a", "b", "c", "d", "e"]]

s1 : pd.Series = pd.Series(values,
                           index=index1,
                           name="Student-Data",
                           dtype=np.int32
                           ) 
s1

a1  a    1
    b    2
    c    3
b1  d    4
    e    5
Name: Student-Data, dtype: int32

# **DataFrame**

In [42]:
s1 : pd.Series = pd.Series([1,2,3,4,5,], name="student_id")
s2 : pd.Series = pd.Series([10,20,30,40,50], name="score")
s3 : pd.Series = pd.Series(["Kazim", "Ali", "Hamza", "Zabi-ul", "Zain"])

df : pd.DataFrame = pd.DataFrame({"student_id": s1, "score": s2, "student name": s3})
df

   student_id  score student name
0           1     10        Kazim
1           2     20          Ali
2           3     30        Hamza
3           4     40      Zabi-ul
4           5     50         Zain

In [45]:
s1 : pd.Series = pd.Series([1,2,3,4,5,], name="student_id")
s2 : pd.Series = pd.Series([10,20,30,40,50], name="score")
s3 : pd.Series = pd.Series(["Kazim", "Ali", "Hamza", "Zabi-ul", "Zain"])

df : pd.DataFrame = pd.concat([s1, s2, s3], axis=1)
df

   student_id  score        0
0           1     10    Kazim
1           2     20      Ali
2           3     30    Hamza
3           4     40  Zabi-ul
4           5     50     Zain

In [46]:
s1 : pd.Series = pd.Series([1,2,3,4,5,], name="student_id")
s2 : pd.Series = pd.Series([10,20,30,40,50], name="score")
s3 : pd.Series = pd.Series(["Kazim", "Ali", "Hamza", "Zabi-ul", "Zain"])

df : pd.DataFrame = pd.DataFrame([s1, s2, s3])
df

                0    1      2        3     4
student_id      1    2      3        4     5
score          10   20     30       40    50
Unnamed 0   Kazim  Ali  Hamza  Zabi-ul  Zain

In [47]:
data : list[list[int]] = [[1,2,3],
                          [4,5,6],
                          [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [49]:
data : list[list[int]] = [[1,2,3],
                          [4,5,6],
                          [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data, columns=["A", "B", "C"])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [50]:
data : list[list[int]] = [[1,2,3],
                          [4,5,6],
                          [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data, columns=["A", "B", "C"], index=["x", "y", "z"])
df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [52]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [53]:
df.index

Index(['x', 'y', 'z'], dtype='object')

In [54]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]], dtype=int64)

In [55]:
from typing import Any
from nptyping import NDArray, Shape


data : NDArray[Shape["10, 10"], Any] = np.arange(10*10).reshape(10,10)
data

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [56]:
from typing import Any
from nptyping import NDArray, Shape


data : NDArray[Shape["10, 10"], Any] = np.arange(10*10).reshape(10,10)

df : pd.DataFrame = pd.DataFrame(data)
df

    0   1   2   3   4   5   6   7   8   9
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49
5  50  51  52  53  54  55  56  57  58  59
6  60  61  62  63  64  65  66  67  68  69
7  70  71  72  73  74  75  76  77  78  79
8  80  81  82  83  84  85  86  87  88  89
9  90  91  92  93  94  95  96  97  98  99

In [62]:
from typing import Any
from nptyping import NDArray, Shape


data : NDArray[Shape["10, 10"], Any] = np.arange(10*10).reshape(10,10)

df : pd.DataFrame = pd.DataFrame(data, columns=list("ABCDEFGHIJ"))
df

    A   B   C   D   E   F   G   H   I   J
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49
5  50  51  52  53  54  55  56  57  58  59
6  60  61  62  63  64  65  66  67  68  69
7  70  71  72  73  74  75  76  77  78  79
8  80  81  82  83  84  85  86  87  88  89
9  90  91  92  93  94  95  96  97  98  99

In [64]:
import html
from pandas import DataFrame


dfl : list[pd.DataFrame] = pd.read_html("https://www.w3schools.com/python/python_operators.asp")
dfl

[  Operator            Name Example    Try it
 0        +        Addition   x + y  Try it »
 1        -     Subtraction   x - y  Try it »
 2        *  Multiplication   x * y  Try it »
 3        /        Division   x / y  Try it »
 4        %         Modulus   x % y  Try it »
 5       **  Exponentiation  x ** y  Try it »
 6       //  Floor division  x // y  Try it »,
    Operator  Example     Same As    Try it
 0         =    x = 5       x = 5  Try it »
 1        +=   x += 3   x = x + 3  Try it »
 2        -=   x -= 3   x = x - 3  Try it »
 3        *=   x *= 3   x = x * 3  Try it »
 4        /=   x /= 3   x = x / 3  Try it »
 5        %=   x %= 3   x = x % 3  Try it »
 6       //=  x //= 3  x = x // 3  Try it »
 7       **=  x **= 3  x = x ** 3  Try it »
 8        &=   x &= 3   x = x & 3  Try it »
 9        |=   x |= 3   x = x | 3  Try it »
 10       ^=   x ^= 3   x = x ^ 3  Try it »
 11      >>=  x >>= 3  x = x >> 3  Try it »
 12      <<=  x <<= 3  x = x << 3  Try it »,
   Operator                      Name Example    Try it
 0       ==                     Equal  x == y  Try it »
 1       !=                 Not equal  x != y  Try it »
 2        >              Greater than   x > y  Try it »
 3        <                 Less than   x < y  Try it »
 4       >=  Greater than or equal to  x >= y  Try it »
 5       <=     Less than or equal to  x <= y  Try it »,
   Operator                                        Description  \
 0      and           Returns True if both statements are true
 1       or      Returns True if one of the statements is true
 2      not  Reverse the result, returns False if the resul...

                  Example    Try it
 0       x < 5 and x < 10  Try it »
 1         x < 5 or x < 4  Try it »
 2  not(x < 5 and x < 10)  Try it »  ,
   Operator                                        Description     Example  \
 0       is  Returns True if both variables are the same ob...      x is y
 1   is not  Returns True if both variables are not the sam...  x is not y

      Try it
 0  Try it »
 1  Try it »  ,
   Operator                                        Description     Example  \
 0       in  Returns True if a sequence with the specified ...      x in y
 1   not in  Returns True if a sequence with the specified ...  x not in y

      Try it
 0  Try it »
 1  Try it »  ,
   Operator                  Name  \
 0        &                   AND
 1        |                    OR
 2        ^                   XOR
 3        ~                   NOT
 4       <<  Zero fill left shift
 5       >>    Signed right shift

                                          Description Example    Try it
 0              Sets each bit to 1 if both bits are 1   x & y  Try it »
 1         Sets each bit to 1 if one of two bits is 1   x | y  Try it »
 2    Sets each bit to 1 if only one of two bits is 1   x ^ y  Try it »
 3                               Inverts all the bits      ~x  Try it »
 4  Shift left by pushing zeros in from the right ...  x << 2  Try it »
 5  Shift right by pushing copies of the leftmost ...  x >> 2  Try it »  ,
                                Operator  \
 0                                    ()
 1                                    **
 2                              +x -x ~x
 3                              * / // %
 4                                   + -
 5                                 << >>
 6                                     &
 7                                     ^
 8                                     |
 9   == != > >= < <= is is not in not in
 10                                  not
 11                                  and
 12                                   or

                                           Description    Try it
 0                                         Parentheses  Try it »
 1                                      Exponentiation  Try it »
 2            Unary plus, unary minus, and bitwise NOT  Try it »
 3   Multiplication, division, floor division, and ...  Try it »
 4                            Addition and subtraction  Try it »
 5                       Bitwise left and right shifts  Try it »
 6                                         Bitwise AND  Try it »
 7                                         Bitwise XOR  Try it »
 8                                          Bitwise OR  Try it »
 9     Comparisons, identity, and membership operators  Try it »
 10                                        Logical NOT  Try it »
 11                                                AND  Try it »
 12                                                 OR  Try it »  ]

In [65]:
dfl[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [66]:
dfl[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [68]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("===Applying Slicing===")
display(s1[1:4])

0    1
1    2
2    3
3    4
4    5
dtype: int64

===Applying Sliding===

1    2
2    3
3    4
dtype: int64

In [69]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("===Applying Slicing===")
display(s1.iloc[1:4]) # index location (number) same as numpy slicing

0    1
1    2
2    3
3    4
4    5
dtype: int64

===Applying Sliding===

1    2
2    3
3    4
dtype: int64

In [70]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index=["a", "b", "c", "d", "e"])
display(s1)
print("===Applying Slicing===")
display(s1.iloc[1:4]) # index location (number) same as numpy slicing

a    1
b    2
c    3
d    4
e    5
dtype: int64

===Applying Sliding===

b    2
c    3
d    4
dtype: int64

In [71]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index=["a", "b", "c", "d", "e"])
display(s1)
print("===Applying Sliding===")
display(s1.loc["a":"d"]) # index location (label) end include

a    1
b    2
c    3
d    4
e    5
dtype: int64

===Applying Sliding===

a    1
b    2
c    3
d    4
dtype: int64

In [74]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index=["a", "b", "c", "d", "e"])
display(s1)
print("===Applying Slicing===")
display(s1.iat[1]) # index location (number) extract one cell value and you can update it

a    1
b    2
c    3
d    4
e    5
dtype: int64

===Applying Sliding===

4

In [75]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index=["a", "b", "c", "d", "e"])
display(s1)
print("===Applying Slicing===")
display(s1.at["d"]) # index location (label) extract one cell value and you can update it

a    1
b    2
c    3
d    4
e    5
dtype: int64

===Applying Sliding===

4