# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\laptop point\appdata\roaming\python\python311\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\laptop point\appdata\roaming\python\python311\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\laptop point\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\laptop point\appdata\roaming\python\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\laptop point\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\laptop point\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
!pip install lxml

Collecting lxml
  Downloading lxml-4.9.3-cp311-cp311-win_amd64.whl (3.8 MB)
     ---------------------------------------- 3.8/3.8 MB 142.8 kB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.3

[notice] A new release of pip available: 22.3.1 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [25]:
# !pip install pandas 
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

# Operator

In [9]:
a : int = 2
b : int = 10

# Addition
print(a+b) #Addition

# Subtraction
print(a-b) #Subtraction

# Multiplication
print(a*b) #Multiplication

#Division
print(a/b) #division

12
-8
20
0.2

In [11]:
# Modulus

a : int = 3
b : int =5

print(a%b)

3

In [15]:
# Exponentiation

a : int = 2
b : int = 3

print(a**2)
print(a**b)

4
8

In [16]:
# Floor division	

a : int = 12
b : int = 3

print(a / b)

4.0

In [17]:
print(14 / 3)

4.666666666666667

In [18]:
print(14 // 3)

4

# Python Assignment Operators

In [27]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

# Assign Operator

In [36]:
a : int = 7
b : int = 10

In [37]:
a : str = "A"
b : str = "B"

# Plus Equal

In [41]:
a : int = 7
print(a)
a : int = a + 7
print(a)

7
14

In [43]:
a : int = 7
print(a)
a += 2
print(a)

7
9

# Subtraction Equal

In [44]:
b : int = 10
print(b)
b : int = b -5
print(b)

10
5

In [46]:
b : int = 10
print(b)
b -= 5
print(b)

10
5

# Multiplication Equal

In [47]:
a : int = 10
print(a)
a : int = a * 10
print(a)

10
100

In [48]:
a : int = 10
print(a)
a *= 10
print(a)

10
100

# Division Equal

In [50]:
Kazim : int = 100
print(Kazim)
Kazim : int = Kazim / 10
print(Kazim)

10.0

In [52]:
Kazim : int = 100
print(Kazim)
Kazim /= 10
print(Kazim)

100
10.0

# Modulus Equal

In [54]:
a : int = 5
print(a)
b : int = a % 2 
print(b)

5
1

In [55]:
a : int = 5
print(a)
b %= 2 
print(b)

5
1

# Exponentiation Equal

In [57]:
a : int = 2
print(a)
a : int = a ** 7
print(a)

2
128

In [58]:
a : int = 2
print(a)
a **= 7
print(a)

2
128

# Floor Division Equal

In [61]:
a : int = 3
print(a)
a : int = a // 5
print(a)

3
0

In [64]:
a : int = 3
print(a)
a //= 5
print(a)

3
0

# Python Comparison Operators

In [65]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

# == Equal

In [66]:
a : int = 7
b : int = 7

print(a == b)

True

In [67]:
a : int = 10
b : int = 14

print(a == b)

False

In [70]:
a : str = "B"
b : str = "A"

print(a == b )

False

# != Not Equal

In [71]:
a : int = 10
b : int = 20

print(a != b)

True

In [72]:
a : int = 10
b : int = 10

print(a != b)

False

In [89]:
a : str = "B"
b : str = "A"

print(a != b )

True

# Greater than >

In [74]:
a : int = 11
b : int = 10

print(a > b)

True

In [75]:
a : int = 7
b : int = 10

print(a > b)

False

# Less than <

In [76]:
a : int = 9
b : int = 29

print(a < b)

True

In [77]:
a : int = 167
b : int = 29

print(a < b)

False

# Greater than or equal to >=

In [78]:
a : int = 10
b : int = 110

print(a >= b)

False

In [79]:
a : int = 10
b : int = 10

print(a >= b)

True

In [80]:
a : int = 119
b : int = 10

print(a >= b)

True

# Less than or equal to	<=

In [81]:
a : int = 120
b : int = 230

print(a <= b)

True

In [85]:
a : int = 519
b : int = 230

print(a <= b)

False

In [86]:
a : int = 230
b : int = 230

print(a <= b)

True

# Grater than Less than Error

In [87]:
a : int = 10
b : int = 20

print(a => b)

SyntaxError: invalid syntax (3916441259.py, line 4)

# ASCII COde 

* A = 65
* Z = 90

* a = 97
* z = 122

* 0 = 48
* 9 = 57

In [96]:
chr(74)

'J'

In [94]:
ord("V")

86

# Python Logical Operators

In [98]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

# And Operator

In [102]:
# and لازمی

# 0       1         2
True and True and False

False

In [103]:
# and لازمی

# 0       1         2
True and True and True

True

# OR Operator

In [104]:
# OR Operator / Optional

# 0       1         2
True or True or False

True

In [105]:
# OR Operator / Optional

# 0       1         2
False or False or False

False

# Not Operator

In [106]:
# Not Operator / Sai ka Ult

name : str = "Kazim"
print(not name=="Kazim")

False

In [115]:
name : str = "Kazim"
name1 : str = "Hussain"
name2 : str = "Hamza" 

print(not name1==name1)

False

# Python Identity Operators

In [116]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

# is Operator

In [120]:
x : str = 'abc'
y : str = 'abc'

print(id(x))
print(id(y))
print(x is y)

140711961693760
140711961693760
True

In [122]:
x is y

True

In [123]:
x : str = 'abc'
y : str = 'xyz'

print(id(x))
print(id(y))
print(x is y)

140711961693760
2394182865968
False

# is not Operator

In [124]:
x : str = 'abc'
y : str = 'xyz'

print(id(x))
print(id(y))
print(x is not y)

140711961693760
2394182865968
True

In [126]:
i : str = 'abc'
j : str = 'abc'

print(id(x))
print(id(y))
print(i is not j)

140711961693760
140711961693760
False

# Python Membership Operators

In [127]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [139]:
names : list[str] = [chr(i) for i in range(65, 91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
     break

0 A
1 B
2 C
3 D

In [140]:
names : list[str] = [chr (i) for i in range(65,91)]
"D" in names

True

In [142]:
names : list[str] = [chr (i) for i in range(65,91)]
"Kazim" in names

False

In [8]:
names : list[str] = {"Kazim", "Hamza", "Sir Zia"}

uinput : str = input("Enter Your Name")

uinput in names

False

In [7]:
numbers : int = 11, 20, 123, 250

uinput : str = input("Enter Your Number")

uinput not in numbers

True

# Operator Precedence

# PEMDAS

In [11]:
print(3 + 2 -2 *4 /2 +2)

3.0

In [12]:
print((6 + 3) - (6 + 3))

0

In [13]:
print ((10 + 2) * (6 / 2))

36.0

In [19]:
print(12 + 45)
print(2 * 9)
print(57 / 18)
print ((12 + 45) / (2 * 9))

57
18
3.1666666666666665
3.1666666666666665

# The Zen of Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!